#App #container-fields {
  position: relative;
  top: 50px;
}

#App #container-fields form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 322px;
}

#App #container-fields form div .text-input,
#App #container-fields form div select {
  border: 1px solid $gray-color;
  width: 322px;
  height: 45px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: $gray-color;
}

#App #container-fields form div .text-input {
  padding-left: 20px;
}

#App #container-fields form div select {
  cursor: pointer;
  appearance: none;
  border-radius: 0px;
  padding-left: 20px;
  background: url("/assets/arrow.png") 96% / 3% no-repeat;
}

#App #container-fields form div .text-input::placeholder,
#App #container-fields form div select option {
  width: 20px;
  font-size: 12px;
}

#App #container-fields form .fields .fields-label {
  font-size: 10px;
}

/* Custom checkbox for 'include forked' styling starts here */
#App #container-fields form #repo-forked {
  color: $gray-color;
  display: block;
  position: relative;
  margin-left: 40px;
  padding-top: 7px;
  margin-top: 8px;
  font-size: 14px;
  user-select: none;
}

/* Hide the browser's default checkbox */
#App #container-fields form #repo-forked input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
#App #container-fields form #repo-forked #repo-forked-checkmark {
  position: absolute;
  top: 0;
  margin-left: -40px;
  height: 30px;
  width: 30px;
  border: 1px solid $gray-color;
  cursor: pointer;
}

/* Create the checkmark/indicator (hidden when not checked) */
#App #container-fields form #repo-forked #repo-forked-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#App
  #container-fields
  form
  #repo-forked
  input:checked
  ~ #repo-forked-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#App #container-fields form #repo-forked-checkmark:after {
  left: 8px;
  top: 0px;
  width: 12px;
  height: 22px;
  border: solid #3f87c6;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

#App #container-fields form #repo-submit {
  margin: 0 auto;
}

#App #container-fields form #button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #3f87c6;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
}

#App #container-fields form .warning {
  position: relative;
  top: -10px;
  color: red;
  font-size: 12px;
}

@media only screen and (min-width: 1920px) {
  #App #container-fields {
    position: relative;
    top: 50px;
  }

  #App #container-fields form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    justify-content: center;
  }
  #App #container-fields form .fields {
    width: 450px;
    margin-top: 10px;
    text-align: center;
  }

  #App #container-fields form .fields .fields-label {
    position: absolute;
    margin-top: -10px;
  }

  #App #container-fields form #repo-forked {
    width: 345px;
    margin-top: 20px;
    margin-left: 105px;
  }

  #App #container-fields form .warning {
    text-align: left;
    left: 65px;
  }

  #App #container-fields form #button {
    margin: 80px 600px 0 600px;
    width: 120px;
  }
}
