#App #container-results .results-list {
  /* display: flex;
  flex-wrap: wrap; */
  margin: 20px 0;
  /* height: 1000px; */
  border: 1px solid #4b5050;
  position: relative;
}

#App #container-results .results-list span {
  font-weight: bold;
  padding-left: 5px;
}

#App #container-results .results-list #stars {
  width: 321px;
  border-top: 1px solid #4b5050;
  border-bottom: 1px solid #4b5050;
}

#App #container-results .results-list p {
  font-size: 14px;
}

#App #container-results .results-list p:first-child {
  font-size: 16px;
  color: #3f87c6;
  font-weight: bold;
  margin: 18px 0 14px 12px;
  position: relative;
}

#App #container-results .results-list #forked {
  /* display: flex; */
  font-size: 16px;
  color: #fff;
  background-color: #3f87c6;
  /* justify-content: flex-end; */
  padding: 6px 19px;
  position: absolute;
  right: 12px;
  top: 12px;
}

#App #container-results .results-list #description {
  padding: 4px 0 16px 12px;
  line-height: 28px;
}

#App #container-results .results-list #stars,
#App #container-results .results-list #license {
  padding: 22px 0 22px 12px;
}

@media (min-width: 1920px) {
  #App #container-results {
    width: 1284px;
    margin-bottom: 55px;
  }

  #App #container-results p {
    margin-bottom: 50px;
  }

  #App #container-results .results-list {
    display: flex;
    height: 100px;
  }

  #App #container-results .results-list p {
    font-size: 14px;
  }

  #App #container-results #name-description-fork {
    width: 990px;
    margin-left: 8px;
  }

  #App #container-results .results-list #forked {
    right: 305px;
  }

  #App #container-results .results-list #stars,
  #App #container-results .results-list #license {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 99px;
    padding-left: 0;
    margin: 0;
    line-height: 30px;
  }

  #App #container-results .results-list #stars span,
  #App #container-results .results-list #license span {
    padding-left: 0;
  }

  #App #container-results .results-list #stars {
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid #4b5050;
    border-right: 1px solid #4b5050;
  }
}
