#fields {
  position: relative;
  top: 50px;
  margin-bottom: 40px;
}

#fields form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 322px;
}

#fields div .text-input,
#fields div select {
  border: 1px solid #4b5050;
  width: 322px;
  height: 45px;
  margin-bottom: 15px;
  margin-top: 5px;
}

#fields div .text-input {
  padding-left: 20px;
}

#fields div select {
  appearance: none;
  border-radius: 0px;
  padding-left: 20px;
  background: url("https://img.icons8.com/metro/26/000000/expand-arrow.png") 96% /
    3% no-repeat;
}

#fields div .text-input::placeholder,
#fields div select option {
  color: #4b5050;
  width: 20px;
  font-size: 12px;
}

/* #fields div select {
  position: relative;
  left: 5px;
} */

#fields .fields-label {
  color: #4b5050;
  font-size: 10px;
}

/* Custom checkbox for 'include forked' styling starts here */
#fields #repo-forked {
  display: block;
  position: relative;
  margin-left: 40px;
  padding-top: 5px;
  margin-top: 8px;
  font-size: 14px;
  user-select: none;
}

/* Hide the browser's default checkbox */
#fields #repo-forked input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
#fields #repo-forked #repo-forked-checkmark {
  position: absolute;
  top: 0;
  margin-left: -40px;
  height: 30px;
  width: 30px;
  border: 1px solid #4b5050;
  cursor: pointer;
}

/* Create the checkmark/indicator (hidden when not checked) */
#fields #repo-forked #repo-forked-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#fields #repo-forked input:checked ~ #repo-forked-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#fields #repo-forked-checkmark:after {
  left: 8px;
  top: 0px;
  width: 12px;
  height: 22px;
  border: solid #3f87c6;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

#fields #repo-button {
  margin: 0 auto;
}

#fields #button {
  position: relative;
  margin-top: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #3f87c6;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
}

#fields #line {
  position: relative;
  width: 322px;
  height: 1px;
  background-color: #4b5050;
  margin: 40px 0;
}

#fields .instructions {
  color: #4b5050;
  text-align: center;
}
